doctype html
html
    head
        meta(charset="UTF-8")
        title Snap.svg
        link(rel="stylesheet" href="css/libs.min.css")
        link(rel="stylesheet" href="css/main.css")
    body
        script(src="js/libs.js")
        script(src="js/main.js")